{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT US</title>
</head>
<body>
    <h2>BMW</h2>
    <img src="{% static 'images/M3 GTR.jpeg' %}" alt="">
    <p>Bayerische Motoren Verke</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima libero sint quod numquam sunt ipsum consequatur accusantium commodi modi veritatis placeat facilis pariatur inventore ullam architecto, omnis asperiores culpa repudiandae?
    Ut, ducimus ex? Ipsa, dolorum itaque error corrupti rem iste voluptatibus eaque! Hic eveniet totam, magni sint assumenda, qui illum a sequi libero aspernatur nisi, cupiditate temporibus ipsam. Commodi, architecto?
    Recusandae nemo aperiam veniam, delectus labore incidunt excepturi debitis facere id ducimus. Commodi quidem, enim quo vero suscipit nostrum ipsum? Rem illum cum facere tempora corporis exercitationem ducimus fugit repellat?
    Aliquam recusandae esse possimus temporibus modi odit nobis quas qui. Voluptate consectetur aperiam itaque debitis facere iure dicta culpa nostrum cum ut. Est rem dignissimos ea voluptatibus suscipit quo in?</p>
    <br>
    

    
</body>
</html>