{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    <h2>HOME</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui reiciendis ea praesentium at sed magni, culpa temporibus! Placeat, porro explicabo ad blanditiis provident dolore? Corrupti magni impedit ut nesciunt nostrum.
    Ex distinctio consequatur dignissimos at. Incidunt doloremque dolorem praesentium officiis, harum ipsa autem, error deleniti quibusdam alias molestiae nesciunt maxime, aspernatur reiciendis expedita odit eius sint eligendi! Dolore, eveniet animi.
    Iusto quo iste explicabo odio reiciendis blanditiis excepturi doloribus ea non sapiente veritatis pariatur facilis voluptatem consectetur soluta quae ipsam, possimus molestiae quibusdam placeat ducimus consequuntur nulla vel repudiandae. Placeat.
    Voluptatum quas sequi itaque ipsum ipsam? Similique explicabo, vel odio labore dolores nisi cumque error exercitationem ipsam eveniet beatae unde esse dolorum laudantium rem eos officia quod porro aliquam at.
    Corrupti laudantium ex ut sed dolor architecto alias doloremque? Recusandae officiis voluptatibus consequuntur provident! Itaque qui aliquid natus voluptas, voluptate quasi eaque nobis sequi modi, iusto eum sit mollitia dolorem.</p>
    <a href="about/">ABOUT US</a>
    <a href="contact/">CONTACT US</a>
    <a href="services/">SERVICES</a>
    <a href="gallery/">GALLERY</a>
    <img src="{% static 'images/BMW.removebg.png' %}" alt="">
</body>
</html>