{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SERVICES</title>
</head>
<body>
    <h2>Services</h2>
    <img src="{% static 'images/BMW.jpeg' %}" alt="">
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta quam, iure aliquam commodi nemo, facilis maxime nesciunt veniam ad autem ex velit tempora voluptatibus, animi eum. Laboriosam, ut esse. Quas?
    Maiores dolor veniam ipsa? Officiis, in ipsa? Saepe ullam quam, suscipit ducimus ipsum unde itaque perspiciatis, accusantium doloribus, iusto laudantium quod similique praesentium libero quibusdam dignissimos accusamus ipsa omnis commodi.
    Reiciendis, distinctio modi quam ab, facilis quo laboriosam nostrum cumque officia voluptas culpa tenetur consectetur omnis non earum ad sunt et quas consequatur beatae? Minus consectetur odit maxime dignissimos laborum?
    Reiciendis exercitationem nisi a, enim similique inventore quos nobis possimus laudantium quibusdam dolore voluptates eum corporis amet, temporibus aliquam tempora in aspernatur, ipsa eaque cum suscipit ea. Natus, dignissimos nam.
    Eos rem culpa, itaque placeat omnis ducimus. Reprehenderit ab sint sapiente suscipit itaque dolorum placeat debitis dolores animi sed dolor iusto doloremque cum recusandae magni, quo deleniti consequatur atque molestiae!</p>
    <br>
    <a href="about/">ABOUT US</a>
    <a href="contact/">CONTACT US</a>
    <a href="services/">SERVICES</a>
    <a href="gallery/">GALLERY</a>
</body>
</html>